<?xml version="1.0" ?>
<robot name="partnet_77699e08e3824eab47765668cf4023ed">
	<link name="link_0">
		<inertial>
        	<origin xyz="0 0 0.0" rpy="0 0 0"/>
        	<mass value="5.0"/>
        	<inertia ixx="0.00005" ixy="0.0" ixz="0.0" iyy="0.00005" iyz="0.0" izz="0.00005"/>
		</inertial>
		<visual name="body-5">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="/home/rohan/Projects/pick_n_place/src/models/urdf/bottle_v2/textured_objs/new-1.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0.002 0" rpy="1.571 0 0"/>
			<geometry>
				<cylinder radius="0.04" length="0.166"/>
			</geometry>
		</collision>
	</link>
</robot>
